.control-cords{
    margin-top: 85px;
    margin-right: 87px;
    position: relative;
}
.card{
    margin-top: 13px;
    margin-left: 32%;
    position: absolute;
    background: #b1b0b08f;
    border-radius: 10px;
}
.card h2{
    padding: 3px;
    color: aqua;
}
.card ul{
    list-style: none;
    margin: 0px auto;
    padding: 13px;
    background: #cacaca8f;
}
.btn {
    position: absolute;
    border: 0;
    background: #fff;
    font-size: 17px;
    padding: 6px;
    border-radius: 2px;
}
.btn:hover{
    background: #b1b0b0;
}
.btn:active{
    border: #4e4848 solid 2px;
    transition: all 1ms;
    background: #8f8a8a;
}
#btn_izquierda{
    margin-left: -165px;
    padding: 15px;
}
#btn_arriba{
    margin-left: -108px;
    margin-top: -36px;
    width: 47px;
}
#btn_none{
    margin-left: -110px;
    margin-top: 2px;
    padding: 25px;
}
#btn_derecha{
    margin-left: -53px;
    padding: 15px;
}
#btn_abajo{
    margin-left: -108px;
    margin-top: 55px;
    width: 47px;
}

.view-cords{
    position: absolute;
    height: 27%;
    width: 30%;
    margin: 12px;
    background: #ffffff63;
    border-radius: 3px;
}
.view-cords h1{
    color: aqua;
    text-align: center;
    padding: 12px;
}
.view-cords p{
    padding-left: 12px;
}
